#!name = 番茄小说去广告
#!desc = 移除番茄小说开屏广告、移除文章底部和章末广告、移除听书页面广告、移除悬浮部件和底栏多余的福利标签。
#!openUrl = https://apps.apple.com/app/id1468454200
#!author = 可莉🅥[https://github.com/luestr/ProxyResource/blob/main/README.md]
#!homepage = https://hub.kelee.one
#!icon = https://raw.githubusercontent.com/luestr/IconResource/main/App_icon/120px/DragonRead.png
#!date = 2026-06-01 17:11:35

#[filter_local]
# 📚 番茄小说 - 去广告
host, zlink.ugsdk.cn, reject
host, mon.toutiaocloud.net, reject
host, lf-normal-gr-sourcecdn.bytegecko.com, reject
host, lf-webcast-gr-sourcecdn.bytegecko.com, reject
host, p3-developer.bytemaimg.com, reject
host, webcast-open.douyin.com, reject
host, p11-webcast-sign.douyinpic.com, reject
host, p3-webcast-sign.douyinpic.com, reject
host, log3-applog.fqnovel.com, reject
host, log5-applog.fqnovel.com, reject
host, mon11-misc-lq.fqnovel.com, reject
host, mon11-misc.fqnovel.com, reject
host, mon3-misc.fqnovel.com, reject
host, rtlog3-applog.fqnovel.com, reject
host, rtlog5-applog.fqnovel.com, reject
host, effect.snssdk.com, reject
host, i.snssdk.com, reject
host, is-lq.snssdk.com, reject
host, is.snssdk.com, reject
host, security.snssdk.com, reject
host, vas.snssdk.com, reject
host, mon.toutiaocloud.com, reject
host, abtest3-misc.zijieapi.com, reject
host, ads3-normal.zijieapi.com, reject
host, ads5-normal.zijieapi.com, reject
host, feedback-c.zijieapi.com, reject
host, gecko3.zijieapi.com, reject
host, gecko5.zijieapi.com, reject
host, ma.zijieapi.com, reject
host, minigame3-normal.zijieapi.com, reject
host, minigame5-normal.zijieapi.com, reject
host, mssdk.zijieapi.com, reject
host, timon.zijieapi.com, reject
host, vcs.zijieapi.com, reject
